body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.won-message {
	color: #4F8A10;
}

.lost-message {
	color: #D8000C;
}

.card {
	background: rgba(220, 220, 220, 0.82);
	border-radius: 20px;
	width: 40%;
	min-width: 200px;
	height: 60%;
	min-height: 460px;
	margin: 10% auto;
	padding: 5% 5%;
}

.results-card {
	background: rgba(220, 220, 220, 0.82);
	border-radius: 20px;
	float: left;
	margin: 2% 2%;
	padding: 2% 4% 4% 4%;
}

#lol-background-image {
	background: url("img/League.jpg");
	background-size: cover;
}

#title-font {
	font-family: 'Arial Black';
}

.button-rounded {
	border-radius: 10px;
}

.summoner-id {
    color: #DDD;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 3px;
    padding: none;
}

#summoner-id-top-margin {
	margin-top: 3%;
}

#yellow {
	color: #FFD700;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#align-center {
	text-align: center;
}


