body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.won-message {
	color: #4F8A10;
}

.lost-message {
	color: #D8000C;
}

.card {
	background: rgba(220, 220, 220, 0.82);
	border-radius: 20px;
	width: 40%;
	min-width: 200px;
	height: 60%;
	min-height: 460px;
	margin: 10% auto;
	padding: 5% 5%;
}

.results-card {
	background: rgba(220, 220, 220, 0.82);
	border-radius: 20px;
	float: left;
	margin: 2% 2%;
	padding: 2% 4% 4% 4%;
	max-width: 46%;
	min-width: 43%;
}

#lol-background-image {
	background: url("img/League.jpg");
	background-size: cover;
}

#title-font {
	font-family: 'Arial Black';
}

.rounded {
	border-radius: 10px;
}

#champ-rounded {
	border-radius: 7px;
}

#button-size {
	width: 7em;
	height: 3.5em;
}

#yellow {
	color: #FFD700;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.align-center {
	text-align: center;
}


#ranked-match-background {
	background: rgba(86, 144, 240, 0.4);
	text-align: center;
	border-radius: 12px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: -0.5em;
	padding-right: -0.5em;
	max-width: 80%;
}

.card-margin {
	margin-top: 10%;
}

#no-duo-message {
	font-size: 200%;
}

#light-title {
	color: #555;
}

#date-color {
	color: #000090;
}

#match-font {
	font-family: 'Lucida Console';
}

#champion-underlined {
	text-decoration: underline;
}



